body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}


h1, h2, p {
    text-align: center;
}


table {
    margin: 0 auto;
    border-spacing: 0px;
}

.laberinto {
    display: flex;
    justify-content: center;
    min-width: 100vw;
    align-items: center;
}

td {
    width: 10px;
    height: 10px;
}

.pared {
    background-color: #333; /* Esto sería para las paredes (puede ser distinto) */
}

.camino {
    background-color: #fff; /* Caminos de color blanco */
    border: .1px solid #ccc;
}

button {
    display: flex;
    align-content: center;
}
