{% extends 'layout.html' %}

{% block content %}
    <h2>Bienvenido al proyecto del Laberinto</h2>
    <p>Esto es un proyecto para resolver laberintos utilizando backtracking.</p>

    <h2>Laberinto Generado</h2>
    <div class="laberinto">
        <table>
            {% for fila in matriz %}
            <tr>
                {% for celda in fila %}
                <td class="
                    {% if celda.caminos['n']['camino'] %}sin-pared-norte {% endif %}
                    {% if celda.caminos['s']['camino'] %}sin-pared-sur {% endif %}
                    {% if celda.caminos['e']['camino'] %}sin-pared-este {% endif %}
                    {% if celda.caminos['o']['camino'] %}sin-pared-oeste {% endif %}
                "></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <button>Generar Laberinto</button>
    <button>Resolver Laberinto</button>
{% endblock %}
